<html>
<script type="text/javascript"></script>
<!-- Load React -->
<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script crossorigin src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
<script crossorigin src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
<!-- babel -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<div id = "quiz"></div>
<!-- my js file -->
<script src="/static/js/app.jsx" type= text/babel></script>
</html>