{% extends 'base.html' %}
{% block title %}Bird Details{% endblock %}
{% block body %}

<div class = bird_info>
    <div class = com_name>{{ bird['comName'] }}</div>
    <div class = sci_name>{{ bird['sciName'] }}</div>
    <div class = loc_name>Seen at: {{ bird['locName'] }}</div>
    <div class = img><img src = "{{ bird['photo1'] }}"
        alt="It looks like we couldn't find a photo for this bird"></img></div>
        <div class = img><img src = "{{ bird['photo2'] }}"
            alt="It looks like we couldn't find another photo for this bird"></img></div>
            <div class = img><img src = "{{ bird['photo3'] }}"
                alt="It looks like we couldn't find another photo for this bird"></img></div>
    <div class = bird_call><iframe src= "{{ bird['call1'] }}" scrolling='no' frameborder='0' 
            width='340' height='115' longdesc="bird call"></iframe></div>
    <div class = ebird>See the <a href="https://ebird.org/species/{{bird['speciesCode']}}">Ebird</a> page for this species for more information!</div>
</div>
{% endblock %}