{% extends 'base.html' %}
{% block title %}Bird Details{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
<script type="text/javascript">
    var birdName = '{{bird_name}}'
 </script>
<h2></h2>
<div id = "quiz">
<div id = "answer_1"></div>
<div id = "answer_2"></div>
</div>
<div id="like_button_container"></div>


<footer id="footer">
    <div><a href = "www.flickr.com">This product uses the Flickr API but is not endorsed or certified by SmugMug, Inc.</a></div>
    <div><a href = "www.ebird.org">This Product uses the eBird Api from the Cornell Lab of Ornithology</a></div>
    <div><a href = "www.xeno-canto.org">This Product uses the Xeno-Canto API from the Xeno-Canto Foundation</a></div>
</footer>

<!-- Load React -->
<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<!-- babel -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<!-- my js file -->
<script src="/static/js/bird_quiz.js"></script>
{% endblock %}