<html>
<script type="text/javascript">
    var bird_name = '{{bird_name}}'
    var answers = '{{answers}}'
 </script>
<h2></h2>
<div id = "quiz">

</div>
<div id="like_button_container"></div>
<div id = "root"></div>



<!-- Load React -->
<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script crossorigin src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
<script crossorigin src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
<!-- babel -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<!-- my js file -->
<script src="/static/js/bird_quiz.jsx" type= text/babel></script>
</html>