{% extends 'base.html' %}
{% block title %}Birding List{% endblock %}
{% block head %}
    
{% endblock %}
{% block body %}
<h1>Who's Flying Your Way?</h1>
<h3>Enter An Address To See The Ten Most Recent Birds Spotted Nearby:</h3>
<div id="floating-panel">
    <input id="address" type="textbox" value="Sydney, NSW" />
    <input id="submit" type="button" value="Geocode" />
  </div>
  <div id="map"></div>
<!-- <form action="" method="get" id="search">
    <div>
        <input
      id="search-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
    <input type="submit" id="address-search" value="search"> -->

{% endblock %}