{% extends 'base.html' %}
{% block title %}Birding List{% endblock %}
{% block head %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- TODO : FIX API KEY  -->
    <!-- GOOGLE MAPS -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyKkTUiF1et9EtNjBxCHYAOAk7sWF21gM&callback=initMap&libraries=places&v=weekly"
      defer>
    </script>
    <!-- <link rel="stylesheet" type="text/css" href="static/css/styles.css" /> -->

    <script src="static/js/map.js"></script>
{% endblock %}
{% block body %}
<h2>Who's Flying Your Way?</h2>
<h3>Enter An Address To See The Most Recent Birds Spotted Nearby:</h3>
  <div></div>
    <div id="get birds"></div>
      <div id="floating-panel">
      <input id="address" type="textbox"/>
      <input id="submit" type="button" value="Search For Birds" />
      </div>
  <div id="map"></div>
  
{% endblock %}
